.header{
    width: 100%;
    height: 18%;
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color: white;
    font-size: 25px;
    margin-right: 25px;
}
.icon{
    margin-left: 25px;
}
@media screen and (max-width: 800px) {
    p{
        opacity: 0;
    }
    
  }